html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h3 {
    font-size: 20px;
}

main {
    display: none;
}

body {
    background-color: beige;
}

.main-container {
    /* background-color: beige; */
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    padding: 50px;
}

#screen-container {
    background-color: pink;
    width: 35%;
    height: 100%;
    margin: auto;
}

#chat-container {
    background-color: pink;
    width: 35%;
    height: 100%;
    margin: auto;
}

.content-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    height: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-box-lt {
    position: absolute;
    left: 4%;
    top: 100px;
    width: 25%;
    height: 100px;
    padding: 20px 10px 30px 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-box-lb {
    position: absolute;
    left: 4%;
    bottom: 100px;
    width: 25%;
    height: 100px;
    padding: 20px 10px 30px 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-box-rt {
    position: absolute;
    right: 4%;
    top: 100px;
    width: 25%;
    height: 100px;
    padding: 20px 10px 30px 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-box-rb {
    position: absolute;
    right: 4%;
    bottom: 100px;
    width: 25%;
    height: 100px;
    padding: 20px 10px 30px 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.next {
    background-color: lightcoral;
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.btn {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.card1 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 65px;
    left: 50%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card2 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 155px;
    left: 50%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card3 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 245px;
    left: 50%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card4 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 335px;
    left: 50%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card5 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 425px;
    left: 50%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card6 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 515px;
    left: 50%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card7 {
    position: absolute;
    transform: translate(-50%, 0);
    top: 150px;
    left: 30%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card8 {
    position: absolute;
    transform: translate(0, 0);
    top: 300px;
    right: 10%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card9 {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 100px;
    left: 35%;
    width: 28%;
    height: 75px;
    color: black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


.username {
    padding-bottom: 5px;
    font-size: 20px;
    padding-left: 5px;
    color: blue;
}

.reply {
    color: black;
    font-size: 18px;
    padding-left: 5px;
}

.time {
    position: absolute;
    color: gray;
    font-size: 15px;
    right: 5px;
    bottom: 5px;
}

.bttn {
    position: absolute;
    font-size: 14px;
    right: 3px;
    top: 3px;
}

.message {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
    max-width: 80%;
}

.message.incoming {
    background-color: #e0e0e0;
    align-self: flex-start;
    top: 10px;
    left: 60px;
}

.message.outgoing {
    background-color: #f0f0f0;
    align-self: flex-end;
    left: 20px;
    top: 10px;
}

.post {
    position: absolute;
    width: 360px;
    min-height: 400px;
    left: 30px;
    top: 30px;
    background: #fff;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, .15);
    padding: 20px;
    border-radius: 5px;
}

.textbox {
    position: absolute;
    width: 360px;
    min-height: 400px;
    right: 30px;
    bottom: 30px;
    background: #fff;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, .15);
    padding: 20px;
    border-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-profile {
    background-color: #aaaaaa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post-img {
    position: absolute;
    background-color: #aaaaaa;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-image {
    position: relative;
    background-color: azure;
    width: 100%;
    height: 320px;
    margin: 10px 0 15px;
}

.likes {
    color: darkgray;
}

.comments {
    color: darkgray;
}